@media only screen and (min-width: 1400px) {
  .meet-our-team .team img {
    aspect-ratio: 17 / 16;
  }
}

@media only screen and (max-width: 1400px) {
  .sub-heading {
    font-size: 48px;
  }
  .case-studies .nav-link{
    font-size: 16px;
    min-width: 70px;
    padding: 10px 20px;
  }
}
@media only screen and (max-width: 1200px) {
 
}
