@media only screen and (min-width: 1400px) {
  .meet-our-team .team img {
    aspect-ratio: 17 / 16;
  }
}

@media only screen and (max-width: 1500px) {
  .testimonial .swiper-button-next {

    right: -50px;
  }

  .testimonial .swiper-button-prev {
    left: -50px;
  }
}

@media only screen and (max-width: 1400px) {
  .sub-heading {
    font-size: 48px;
  }

  .case-studies .nav-link {
    font-size: 16px;
    min-width: 70px;
    padding: 10px 20px;
  }

  .testimonial .swiper-button-prev {
    left: -24px;
  }

  .testimonial .swiper-button-next {
    right: -24px;
  }
}

@media only screen and (max-width: 1200px) {
  .banner h1 {
    font-size: 70px;
    line-height: 79px;
  }

  .We-Serve .serve-bx h4 {
    font-size: 30px;
  }

  .sub-heading {
    font-size: 44px;
  }

  .case-studies .grid-item h3 {
    font-size: 26px;
    margin-bottom: 5px;
  }

  footer .slider-item {
    font-size: 60px;

  }

  footer .slider-item img {
    max-width: 100px;
    width: 100%;
  }
}


@media only screen and (max-width: 992px) {
  header .hamburger {
    display: block;
  }

  .mb-container {
    position: fixed;
    background-image: url('../images/home-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    transition: all 0.5s linear;
    visibility: hidden;
    opacity: 0;
  }

  .mb-container.open-menu {
    left: 0%;
    visibility: visible;
    opacity: 1;
  }

  nav {
    padding: 15px;
  }

  header ul {
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
  }

  header .mb-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
  }

  header .mb-logo>div {
    text-align: center;
  }

  header ul li {
    border-bottom: 1px solid #B1B1B1;
    width: 100%;
    padding: 40px 0;
  }

  .flot-shape-one img,
  .flot-shape-two img,
  .flot-shape-three img {
    max-width: 300px;
  }

  .banner h1 {
    font-size: 50px;
    line-height: 63px;
    margin-bottom: 10px;
  }

  .banner p {
    font-size: 18px;
    margin: 0 auto 40px;
  }

  .sub-heading {
    font-size: 40px;
    margin-bottom: 15px;
  }

  .why-choose-us h5 {
    font-size: 26px;
    margin-bottom: 30px;
  }

  .meet-our-team .team-container {
    justify-content: flex-start;
    overflow-x: auto;
  }

  .meet-our-team .team-card {
    min-width: 350px;
    width: 100%;
  }

  .case-studies .masonry-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .case-studies .grid-item:nth-child(3) {
    grid-row-end: span 13;
  }

  .We-Serve .appear-img {
    max-width: 116px;
  }

  .We-Serve .serve-bx .text-end>a img {
    max-width: 50px;
  }

}

@media only screen and (max-width: 768px) {
  .case-studies .grid-item h3 {
    font-size: 22px;
    line-height: 30px;
  }

  .case-studies .grid-content a img {
    width: 30px;
  }

}

@media only screen and (max-width: 576px) {
  .case-studies .grid-item {
    grid-row-end: span 10 !important;
  }

  .case-studies .grid-item h3 {
    font-size: 14px;
    line-height: 22px;
  }

  .case-studies .grid-content {
    margin-top: 12px;
    flex-direction: column;
    align-items: self-start;
    gap: 10px;
  }

  .case-studies .grid-item p {
    font-size: 12px;
  }

  .header-wrap a.logo img {
    width: 75px;
  }

  .banner h1 {
    line-height: 49px;
    font-size: 40px;
  }

  .banner p {
    font-size: 16px;
    line-height: normal;
  }

  .animated-btn {
    font-size: 14px;
  }

  .flot-shape-one img,
  .flot-shape-two img,
  .flot-shape-three img {
    max-width: 120px;
  }

  .flot-shape-two {

    top: 20%;
    left: 80%;
  }

  .flot-shape-three {
    top: 61%;
  }

  .flot-shape-one {
    bottom: 10px;
    left: 20px;
  }

  .brand-slider h3 {
    font-size: 16px;
  }

  .brand-slider {
    padding: 30px 0;
  }

  .banner {
    min-height: auto;
  }

  .sub-heading {
    font-size: 30px;
    line-height: normal;
  }

  .title {
    font-size: 12px;
  }

  .why-choose-us h5 {
    font-size: 20px;
    line-height: normal;
  }

  .why-choose-us li {
    font-size: 14px;
    line-height: normal;
    padding-bottom: 16px;
  }

  .why-choose-us .glowing-bx {
    padding: 20px;
    border-radius: 40px;
  }

  .md-globe {
    width: 65px;
  }

  .sm-globe {
    width: 52px;
    top: 140px;
    right: -14px;
  }


  .We-Serve .serve-bx .text-end>a {
    display: none;
  }

  .We-Serve .serve-bx:hover .appear-img {
    transform: none;
  }

  .We-Serve .appear-img {
    position: static;
    transform: none;
  }

  .We-Serve .serve-bx small {
    font-size: 16px;
    max-width: 100%;
    line-height: normal;
    margin-bottom: 10px;
  }

  .We-Serve .serve-bx:hover h4 {
    transform: none;
  }

  .We-Serve .serve-bx h4 {
    background: linear-gradient(274.23deg, #8161ff 17.37%, #c366ff 40.24%, #fff759 111.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .case-studies .tab-scroll ul {
    overflow-y: auto;
    padding: 10px 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    flex-wrap: nowrap;
  }

  .case-studies .tab-scroll ul::-webkit-scrollbar {
    display: none;
  }

  .meet-our-team .card-details {
    left: 0;
  }

  .meet-our-team .team,
  .meet-our-team .team-card:hover .team {
    width: 65%;
  }

  .meet-our-team .team-card:hover a,
  .meet-our-team .team-card a {
    left: 30px;
  }

  .meet-our-team .team-card {
    min-width: 100vw;
  }

  .testimonial .slide-bx {
    padding: 16px 16px 90px 16px;
  }

  .testimonial .swiper-pagination {
    margin-bottom: -100px;
  }

  .testimonial .swiper-pagination-bullet {
    margin: 0 5px !important;
    padding: 3px;
  }

  .testimonial .swiper-pagination-bullet::before {
    width: 30px;
    height: 30px;
  }

  .testimonial .swiper-button-next {
    top: inherit;
    bottom: 18px;
    right: inherit;
    left: 50%;
    transform: translateX(calc(-50% + 102px));
  }

  .testimonial .swiper-button-prev {
    top: inherit;
    bottom: 18px;
    right: inherit;
    left: 50%;
    transform: translateX(calc(-50% + -92px));
  }

  .testimonial .wraping {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 0;
  }

  .testimonial .swiper-button-prev,
  .testimonial .swiper-button-next {
    width: 40px;
    height: 40px;
  }
}