@media only screen and (min-width: 1400px) {
  .meet-our-team .team img {
    aspect-ratio: 17 / 16;
  }
}

@media only screen and (max-width: 1400px) {
  .sub-heading {
    font-size: 48px;
  }

  .case-studies .nav-link {
    font-size: 16px;
    min-width: 70px;
    padding: 10px 20px;
  }

  .testimonial .swiper-button-prev {
    left: -50px;
  }

  .testimonial .swiper-button-next {
    right: -50px;
  }
}

@media only screen and (max-width: 1200px) {
  .banner h1 {
    font-size: 70px;
    line-height: 79px;
  }

  .We-Serve .serve-bx h4 {
    font-size: 30px;
  }

  .sub-heading {
    font-size: 44px;
  }

  .case-studies .grid-item h3 {
    font-size: 26px;
    margin-bottom: 5px;
  }

  footer .slider-item {
    font-size: 60px;

  }

  footer .slider-item img {
    max-width: 100px;
    width: 100%;
  }
}


@media only screen and (max-width: 992px) {
  header .hamburger {
    display: block;
  }

  .mb-container {
    position: fixed;
    background-image: url('../images/home-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    transition: all 0.5s linear;
  }

  .mb-container.open-menu {
    left: 0%;
  }

  nav {
    padding: 15px;
  }

  header ul {
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
  }

  header .mb-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    margin-bottom: 25px;
  }

  header .mb-logo>div {
    text-align: center;
  }
  header ul li {
    border-bottom: 1px solid #B1B1B1;
    width: 100%;
    padding-bottom: 40px;
}

  .flot-shape-one img,
  .flot-shape-two img,
  .flot-shape-three img {
    max-width: 300px;
  }

  .banner h1 {
    font-size: 50px;
    line-height: 63px;
    margin-bottom: 10px;
  }

  .banner p {
    font-size: 18px;
    margin: 0 auto 40px;
  }

  .sub-heading {
    font-size: 40px;
    margin-bottom: 15px;
  }

  .why-choose-us h5 {
    font-size: 26px;
    margin-bottom: 30px;
  }

  .meet-our-team .team-container {
    justify-content: flex-start;
    overflow-x: auto;
  }

  .meet-our-team .team-card {
    min-width: 350px;
    width: 100%;
  }

  .case-studies .masonry-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .case-studies .grid-item:nth-child(3) {
    grid-row-end: span 13;
  }

  .We-Serve .appear-img {
    max-width: 116px;
  }
  .We-Serve .serve-bx .text-end img {
    max-width: 50px;
}
}

@media only screen and (max-width: 768px) {
  .case-studies .grid-item h3 {
    font-size: 22px;
    line-height: 30px;
  }

  .case-studies .grid-content a img {
    width: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .case-studies .grid-item {
    grid-row-end: span 10 !important;
  }

  .case-studies .grid-item h3 {
    font-size: 14px;
    line-height: 22px;
  }

  .case-studies .grid-content {
    margin-top: 12px;
    flex-direction: column;
    align-items: self-start;
    gap: 10px;
  }

  .case-studies .grid-item p {
    font-size: 12px;
  }
  .header-wrap a.logo img {
    width: 75px;
}
}