@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: "Poppins", serif; */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* font-family: "Montserrat", serif; */

:root {
  --black: #000;
  --white: #ffffff;
  --poppins: "Poppins", serif;
  --montserrat: "Montserrat", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
b,
small {
  display: inline-block;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

li {
  list-style: none;
}

p {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff8a;
}

ul {
  padding: 0;
  margin: 0;
}

.p-top {
  padding-top: 50px;
}

.p-btm {
  padding-bottom: 50px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

body {
  font-family: var(--poppins);
  color: var(--white);
}

.sub-heading {
  font-family: var(--montserrat);
  font-size: 50px;
  font-weight: 500;
  line-height: 55px;
  margin-bottom: 20px;
}

.title {
  font-size: 16px;
  font-weight: 400;
}

.content-container {
  margin-bottom: 50px;
  text-align: center;
}

/*======Header-Start======*/
header .hamburger {
  cursor: pointer;
  padding: 5px 5px 5px 5px;
  border-radius: 40px;
  transition: all 0.4s ease-in;
  display: none;
}

header .mb-logo {
  display: none;
}

header.open_nav .hamburger {
  padding: 5px 5px 5px 35px;
}


header {
  position: relative;
  z-index: 9;
}

header .header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

header ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

header li a {
  color: var(--white);
  font-family: "Poppins", serif;
  font-size: 20px;
  font-weight: 500;
}

header li a.active {
  background: linear-gradient(93.25deg,
      #e922f9 -20.27%,
      #af64fe 26.55%,
      #efd282 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

/*======Header-End======*/

/*======Banner-Start======*/
.banner {
  margin-top: -127px;
  position: relative;
  padding: 150px 0 80px;
  min-height: 100vh;
}

.banner .banner-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.banner .content-part {
  max-width: 1209px;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  margin: auto;
}

.banner h1 {
  font-family: "Montserrat", serif;
  font-size: 90px;
  line-height: 110px;
  font-weight: 400;
  color: var(--white);
  margin-bottom: 50px;
}

.banner h1 span {
  background: linear-gradient(91.98deg,
      #8161ff 30.4%,
      #c366ff 53.65%,
      #fff759 71.18%);
  background-size: 200% 200%;
  /* Ensure the gradient is large enough to animate */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rotateGradient 10s ease-in-out infinite;
  /* Smooth infinite animation */
}

@keyframes rotateGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.banner p {
  font-family: var(--poppins);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  max-width: 600px;
  width: 100%;
  margin: 0 auto 60px;
  color: var(--white);
}

.animated-btn {
  font-family: var(--poppins);
  font-size: 20px;
  font-weight: 500;
  border-radius: 70px;
  transition: all 0.5s linear;
  padding: 23px 3px;
  background: linear-gradient(91.87deg,
      #e925fb 0%,
      #023ba6 49.64%,
      #fdf068 99.79%);
  background-size: 200% 200%;
}

.animated-btn:hover {
  animation: btnanimate 5s ease-in-out infinite;
  box-shadow: #eabb918a 1px 0px 45px;
}

.animated-btn a {
  padding: 20px 40px;
  color: var(--white);
  background-color: #000;
  border-radius: 70px;
}

@keyframes btnanimate {
  0% {
    background-position: 0% 50%;
    /* Start position */
  }

  50% {
    background-position: 100% 50%;
    /* Midway position */
  }

  100% {
    background-position: 0% 50%;
    /* Loop back to start */
  }
}

.flot-shape-one {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 0;
  animation: floatOne 5s ease-in-out infinite;
}

@keyframes floatOne {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}

.flot-shape-two {
  position: absolute;
  z-index: 1;
  top: 60px;
  left: 50%;
  transform: translateX(calc(-50% - 230px)) translateY(0);
  animation: floatTwo 7s linear infinite;
}

@keyframes floatTwo {
  0% {
    transform: translateX(calc(-50% - 230px)) translateY(0);
  }

  50% {
    transform: translateX(calc(-50% - 230px)) translateY(-15px);
  }

  100% {
    transform: translateX(calc(-50% - 230px)) translateY(0);
  }
}

.flot-shape-three {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  animation: floatThree 4s ease-in-out infinite;
}

@keyframes floatThree {
  0% {
    transform: translateY(calc(-50% + 0px));
  }

  50% {
    transform: translateY(calc(-50% - 15px));
  }

  100% {
    transform: translateY(calc(-50% + 0px));
  }
}

/*======Banner-End======*/

/*======brand-Slide-Start======*/
.brand-slider {
  padding: 50px 0;
}

.brand-slider h3 {
  font-family: var(--montserrat);
  font-size: 24px;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 20px;
  text-align: center;
}


.brand-slider .slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.brand-slider .slider::before {
  content: "";
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.brand-slider .slider::after {
  content: "";
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 8;
  background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.brand-slider .slider .slide-track {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.brand-slider .slider-track-div {
  grid-column-gap: 1rem;
  flex: none;
  justify-content: space-around;
  min-width: 100%;
  display: flex;
  animation: scroll 30s linear infinite;
}



@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - 1rem));
  }
}

/*======Brand-Slide-End======*/

/*======Why-Choose-Us-Start======*/
.why-choose-us {
  background-color: #101012;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.why-choose-us::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../images/why-choose-us-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -2;
}

.why-choose-us .glowing-bx {
  background: linear-gradient(80.42deg,
      rgba(0, 0, 0, 0.16) 25.25%,
      rgba(83, 84, 108, 0.16) 98.05%);
  border: 1.11px solid;
  border-image-source: linear-gradient(266.19deg,
      rgba(16, 17, 50, 0.6) -4.37%,
      rgba(119, 124, 247, 0) 100.99%);
  padding: 30px;
  border-radius: 18px;
}

.why-choose-us h5 {
  font-family: var(--montserrat);
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 38px;
  color: rgba(202, 209, 233, 1);
}

.why-choose-us .content-layout {
  max-width: 570px;
  width: 100%;
}

.why-choose-us ul {
  position: relative;
  padding-left: 52px;
}

.why-choose-us ul::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: absolute;
  height: 100%;
  width: 40px;
  left: 0;
  top: 0;
}

.why-choose-us ul::after {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 35px;
  width: 35px;
  left: 3px;
  top: -1px;
}

.why-choose-us .protect-info ul::before {
  background-image: url(../images/Protect-column-shape.svg);
}

.why-choose-us .secure-data ul::before {
  background-image: url(../images/secure-data-column-shape.svg);
}

.why-choose-us .secure-data ul::after {
  background-image: url(../images/secure-data-column-round.svg);
}

.why-choose-us .protect-info ul::after {
  background-image: url(../images/Protect-column-round.svg);
}

.why-choose-us .detailed-reporting ul::before {
  background-image: url(../images/detailed-reporting-column.svg);
}

.why-choose-us .detailed-reporting ul::after {
  background-image: url(../images/detailed-reporting-column-round.svg);
}

.why-choose-us li {
  display: block;
  font-size: 18px;
  font-weight: 400;
  color: rgba(202, 198, 221, 1);
  line-height: 25px;
  padding-bottom: 22px;
  position: relative;
  padding-left: 40px;
}

.why-choose-us li::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 3px;
  left: 0;
}

.why-choose-us .protect-info li::before {
  background-image: url("../images/Protect-checkmark-circle.svg");
}

.why-choose-us .detailed-reporting li::before {
  background-image: url("../images/detailed-reporting-checkmark-circle.svg.svg");
}

.why-choose-us .secure-data li::before {
  background-image: url("../images/secure-data-checkmark-circle.svg.svg");
}

.why-choose-us li:last-child {
  padding-bottom: 0;
}

.glow-move {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
  opacity: 0.5;
  transition: transform 0.1s ease-out;
}

.sm-globe {
  position: absolute;
  top: 30px;
  right: 30px;
}

.globe-animate {
  animation: rotate-globe 8s linear infinite;
}

@keyframes rotate-globe {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*======Why-Choose-Us-End======*/
/*======We-Serve-Start======*/
.We-Serve {
  background-color: #101012;
  position: relative;
  z-index: 2;
  overflow: hidden;
  cursor: url("../images/Ellipse-cursor.svg"), auto;
}

.We-Serve::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../images/why-choose-us-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -2;
}

.md-globe {
  position: absolute;
  top: 0;
  left: 40px;
}

.We-Serve .arrow-icon {
  display: block;
}

.We-Serve .serve-bx-container {
  border-top: 1px solid rgba(177, 177, 177, 1);
  border-bottom: 1px solid rgba(177, 177, 177, 1);
}

.We-Serve .serve-bx {
  padding: 45px 0;
  border-bottom: 1px solid rgba(177, 177, 177, 1);
  position: relative;
}

.We-Serve .serve-bx-container .serve-bx:last-child {
  border-bottom: 0;
}

.We-Serve .serve-bx small {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: var(--white);
  max-width: 340px;
  width: 100%;
}

.We-Serve .serve-bx h4 {
  font-size: 40px;
  font-weight: 400;

  transition: all 0.5s linear;
}

.We-Serve .serve-bx:hover h4 {
  background: linear-gradient(274.23deg,
      #8161ff 17.37%,
      #c366ff 40.24%,
      #fff759 111.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.02);
}

.We-Serve .appear-img {
  position: absolute;
  right: 14%;
  top: 50%;
  max-width: 181px;
  transform: translateY(-50%) rotate(-17deg) scale(0);
  background: linear-gradient(148.93deg,
      #8262ff 1.71%,
      #b866ff 40.39%,
      #fff85a 99.59%);
  padding: 1px 1px 1px 2px;
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.5s linear;
  z-index: 2;
  box-shadow: #eac591a6 1px 1px 20px 0px;
}

.We-Serve .serve-bx:hover .appear-img {
  transform: translateY(-50%) rotate(-17deg) scale(1);
}

.We-Serve .appear-img img {
  width: 100%;
}

.We-Serve .we-serve-move {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
  opacity: 1;
  object-fit: contain;
  transition: transform 0.1s ease-out;
  width: 70vw;
  height: 70vw;
}

/*======We-Serve-End======*/

/*======Meet-Our-Team======*/
.meet-our-team .sub-heading {
  color: var(--black);
  margin: 0;
}

.meet-our-team .title {
  color: rgba(0, 0, 0, 0.7);
  margin: 0 0 0 auto;
  max-width: 587px;
  width: 100%;
}

.meet-our-team .sub-heading:after {
  content: "";
  background-color: rgba(53, 105, 207, 1);
  width: 11px;
  height: 11px;
  display: inline-block;
  border-radius: 100%;
  margin-left: 5px;
}

.meet-our-team .team-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
  margin-top: 50px;
  -ms-overflow-style: none;
}

.meet-our-team .team-container::-webkit-scrollbar {
  display: none; 
}

.meet-our-team .team-card {
  box-shadow: -3.82px 3.82px 30.58px 0px rgba(0, 0, 0, 0.08);
  height: 410px;
  background-color: rgba(53, 105, 207, 1);
  flex: 1;
  border-radius: 15px;
  transition: all 0.5s ease-in;
  position: relative;
  overflow: hidden;
}

.meet-our-team .team-card::before {
  content: "";
  background-color: rgba(10, 8, 9, 1);
  width: 100%;
  left: 0;
  height: 373px;
  position: absolute;
  border-radius: 0 0 0 26px;
}

.meet-our-team h3 {
  font-size: 30px;
  font-weight: 500;
  line-height: 38px;
}

.meet-our-team h3:after {
  content: "";
  background-color: rgba(53, 105, 207, 1);
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 100%;
  margin-left: 5px;
}

.meet-our-team h3 span {
  display: block;
  color: rgba(53, 105, 207, 1);
}

.meet-our-team strong {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
}

.meet-our-team .team img {
  width: 100%;
  aspect-ratio: 16 / 17;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 0.5s ease-in;
}

.meet-our-team .team {
  height: 100%;
  width: 100%;
  transition: all 0.5s ease-in;
  margin-left: auto;
  position: relative;
  z-index: 1;
}

.meet-our-team .card-details {
  position: absolute;
  padding: 40px;
  top: 0;
  left: -100%;
  transition: all 0.5s ease-in;
}

.meet-our-team .team-card:hover {
  flex-grow: 2;
}

.meet-our-team .team-card:hover .card-details {
  left: 0;
}

.meet-our-team .team-card:hover .team {
  width: 65%;
}
.meet-our-team .team-card:last-child h3 span{
color: #94E42E;
}
.meet-our-team .team-card:last-child h3:after,
.meet-our-team .team-card:last-child{
  background-color: #94E42E;
}

.meet-our-team .team-card:last-child a{
border: 4px solid #94E42E;
}

.meet-our-team h6 {
  font-size: 121px;
  font-weight: 700;
  color: #161415;
  position: absolute;
  top: 0;
  right: 0;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-transform: uppercase;
  transform: scaleX(-1) scaleY(-1);
  line-height: 96px;
  z-index: 0;
}

.meet-our-team .team-card a {
  background-color: rgba(33, 33, 33, 1);
  border: 4px solid rgba(53, 105, 207, 1);
  position: absolute;
  bottom: 6px;
  /* left: 30px; */
  left: -50%;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in;
}

.meet-our-team .team-card:hover a {
  left: 30px;
}

.meet-our-team a img {
  transition: all 0.5s ease-in;
}

.meet-our-team a:hover img {
  transform: rotate(45deg);
}

/*======Meet-Our-Team======*/

/*======Case-Studies======*/
.case-studies {
  background-color: #101012;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.case-studies::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../images/why-choose-us-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -2;
}

.case-studies .nav-link {
  padding: 14px 15px;
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  border: 1px solid #fff;
  border-radius: 30px;
  min-width: 88px;
  text-wrap: nowrap;
}

.case-studies .nav-link.active {
  background-color: #090b11;
  box-shadow: #eac591a6 1px 2px 13px 1px;
}

.case-studies .tab-scroll ul {
  flex-wrap: wrap;
  gap: 17px;
}





.case-studies .masonry-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1px;
  gap: 40px;
  max-width: 1400px;
  margin-top: 50px;
}

.case-studies .grid-item {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  break-inside: avoid;
  display: flex;
  flex-direction: column;
}

.case-studies .grid-item:hover {
  transform: translateY(-5px);
}

.case-studies .grid-item .img-box {
  height: calc(100% - 97px);
  border: 5px solid #fff;
  border-radius: 20px;
}

.case-studies .grid-item img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.case-studies .grid-item h3 {
  font-size: 28px;
  font-weight: 500;
  color: var(--white);
  margin-bottom: 10px;
}

.case-studies .grid-item p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffffb2;
}

.case-studies .grid-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 27px;
}

.case-studies .grid-item:nth-child(1) {
  grid-row-end: span 15;
}

.case-studies .grid-item:nth-child(2) {
  grid-row-end: span 10;
}

.case-studies .grid-item:nth-child(3) {
  grid-row-end: span 12;
}

.case-studies .grid-item:nth-child(4) {
  grid-row-end: span 11;
}

.case-studies .grid-item:nth-child(5) {
  grid-row-end: span 9;
}

.case-studies .grid-item:nth-child(6) {
  grid-row-end: span 15;
}

.case-studies .grid-item:nth-child(7) {
  grid-row-end: span 9;
}

.case-studies .grid-item:nth-child(8) {
  grid-row-end: span 9;
}

.case-studies .grid-content a img {
  transition: all 0.5s linear;
}

.case-studies .grid-content a:hover img {
  transform: rotate(45deg);
}

.case-studies .case-studies-glow {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
  opacity: 1;
  object-fit: contain;
  transition: transform 0.1s ease-out;
  height: auto;
}

/*======Case-Studies======*/

/*======Testimonial======*/
.testimonial {
  padding-top: 100px;
}

.testimonial .slide-bx {
  border: 1px solid;
  background: linear-gradient(80.42deg,
      rgba(0, 0, 0, 0.16) 25.25%,
      rgba(83, 84, 108, 0.16) 98.05%);
  border-image-source: linear-gradient(266.19deg,
      rgba(16, 17, 50, 0.6) -4.37%,
      rgba(119, 124, 247, 0) 100.99%);
  border-radius: 28px;
  padding: 35px;
}

.testimonial .child-bx {
  background: linear-gradient(79.59deg,
      rgba(51, 51, 62, 0.16) 6.21%,
      rgba(83, 84, 108, 0.16) 98.02%);
  border: 1px solid;
  border-image-source: linear-gradient(266.19deg,
      rgba(39, 40, 52, 0.6) -4.37%,
      rgba(146, 150, 238, 0) 100.99%);
  padding: 22px;
  border-radius: 20px;
}

.testimonial .user img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
  border: 2px solid #fff;
}

.testimonial .wraping {
  display: flex;
  text-align: left;
  gap: 15px;
  padding-bottom: 60px;
}

.testimonial .wraping h6 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
}

.testimonial .wraping small {
  color: #9d9ba6;
  font-size: 16px;
  font-weight: 400;
}

.testimonial .wraping small:nth-child(1)::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #9d9ba6;
  display: inline-block;
  border-radius: 100%;
  vertical-align: middle;
  margin: 0 5px;
}

.testimonial .wraping p {
  margin-top: 18px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #cac6dd;
}

.testimonial .swiper-button-prev,
.testimonial .swiper-button-next {
  background: linear-gradient(178.95deg,
      #001f50 33.48%,
      #8c61fe 95.18%,
      #fef759 139.05%);
  width: 44px;
  height: 44px;
  border-radius: 100%;
  transition: all 0.3s linear;
}

.testimonial .swiper-button-prev:hover,
.testimonial .swiper-button-next:hover {
  box-shadow: #eac59173 1px 2px 13px 10px;
}

.testimonial .swiper-button-next:after,
.testimonial .swiper-button-prev:after {
  display: none;
}

.testimonial .swiper-button-next {
  right: -130px;
}

.testimonial .swiper-button-prev {
  left: -130px;
}

.testimonial .swiper {
  overflow: visible;
}

.testimonial .swiper-pagination-bullet {
  background-color: #cad1e9;
  position: relative;
  padding: 5px;
  margin: 0 10px !important;
  border: 8px solid #1c1c20;
}

.testimonial .swiper-pagination-bullet::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(291deg, #090edb -15.78%, #e73dc4 102.06%);
  z-index: -1;
  opacity: 0;
}

.testimonial .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  opacity: 1;
}

.testimonial .swiper-pagination {
  margin-bottom: -15px;
}

/*======Testimonial======*/

/*======Get-In-Touch======*/
.get-in-touch {
  background-color: #ffffff00;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.get-in-touch .get-in-touch-glow {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
  opacity: 1;
  object-fit: contain;
  transition: transform 0.1s ease-out;
}

.get-in-touch .sub-heading {
  color: #121212cc;
  margin-bottom: 5px;
}

.get-in-touch h6 {
  background: linear-gradient(90deg,
      #6236ff 14.56%,
      #f152fa 51.75%,
      #f1af36 85.39%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: GetTouch 10s ease-in-out infinite;
  font-family: var(--montserrat);
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 15px;
}

@keyframes GetTouch {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.get-in-touch p {
  color: #0b2330;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  max-width: 808px;
  margin: 0 auto 30px;
}

/*======Get-In-Touch======*/

/*======Footer======*/
footer {
  background-color: #101012;
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding: 10px 0;
}

footer::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../images/why-choose-us-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -2;
}

footer .slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 70px;
}



footer .slider-item {
  display: flex;
  align-items: center;
  gap: 40px;
  white-space: nowrap;
  font-family: var(--montserrat);
  font-size: 90px;
  font-weight: 500;
}

footer .slider-track {
  display: flex;
  gap: 50px;
}

.slider-track-row {
  grid-column-gap: 1rem;
  flex: none;
  justify-content: space-around;
  min-width: 100%;
  display: flex;
  animation: footerSlide 60s linear infinite;
}



@keyframes footerSlide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - 1rem));
  }
}

footer .slider-track:hover .slider-track-row {
  animation-play-state: paused;
}

footer .logo-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

footer .logo-column p {
  font-size: 16px;
  font-weight: 400;
}

footer .logo-column strong {
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

footer .contact {
  display: flex;
  flex-direction: column;
}

footer .contact a {
  font-size: 14px;
  font-weight: 400;
  line-height: 31px;
  color: var(--white);
  width: fit-content;
}

footer .social {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 20px;
}

footer ul li {
  display: block;
  padding-bottom: 15px;
}

footer ul li:last-child {
  padding-bottom: 0;
}

footer ul li a {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  transition: all 0.5s linear;
}

footer ul li a:hover {
  -webkit-text-fill-color: transparent;
  /* font-weight: 600; */
  background: linear-gradient(93.25deg,
      rgb(233, 34, 249) -20.27%,
      rgb(175, 100, 254) 26.55%,
      rgb(239, 210, 130) 100%) text;
}

footer .copy-right {
  margin: 50px 0 50px;
  padding-top: 30px;
  border-top: 1px solid #ffffff17;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .copy-right small {
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
}

footer .gp a {
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
}

footer .gp {
  display: flex;
  align-items: center;
  gap: 20px;
}

footer .glow-right {
  max-width: 100%;
  position: absolute;
  right: 0;
  z-index: -1;
}

footer .glow-right {
  max-width: 100%;
  position: absolute;
  right: 0;
  z-index: -1;
  top: 0;
}


footer .glow-left {
  max-width: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
  top: 0;
}

footer .footer-glow {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -3;
  opacity: 0.4;
  object-fit: contain;
  transition: transform 0.1s ease-out;
  height: auto;
}

/*======Footer======*/
.animated-btn-sm {
  font-family: var(--poppins);
  font-size: 20px;
  font-weight: 500;
  border-radius: 70px;
  transition: all 0.5s linear;
  padding: 21px 2px;
  border: 1px solid;
  background: linear-gradient(91.87deg,
      #e925fb 0%,
      #023ba6 49.64%,
      #fdf068 99.79%);
  background-size: 200% 200%;
}

.animated-btn-sm a {
  padding: 18px 60px;
  color: var(--white);
  background-color: #000;
  border-radius: 70px;
}

.animated-btn-sm:hover {
  animation: btnanimate 5s ease-in-out infinite;
  box-shadow: #eabb918a 1px 0px 45px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #fff;
  background-image: linear-gradient(0deg, #6236ff 14.56%, #f1af36 85.39%);
}


/*======Inner-Banner======*/

.inner-banner {
  background-color: var(--black);
  margin-top: -125px;
  padding: 140px 0 40px;
  overflow: hidden;
  position: relative;
  z-index: 2;

}

.inner-banner .container {
  z-index: 3;
  position: relative;
}

.inner-banner::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../images/test.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -2;
  opacity: 0.5;
}


.inner-banner h1 {
  font-family: var(--montserrat);
  font-size: 70px;
  font-weight: 400;
  line-height: 84px;
}

.inner-banner h1 span {
  background: linear-gradient(91.98deg, #8161ff 30.4%, #c366ff 53.65%, #fff759 71.18%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rotateGradient 10s ease-in-out infinite;
}

.inner-banner h3 {
  text-align: right;
  margin-top: 34px;
  font-size: 18px;
  font-weight: 500;
}

/*======Inner-Banner======*/

/*======Where-Technology======*/
.where-technology {
  background-color: #101012;
  position: relative;
}

.where-technology::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/noise-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}


.where-technology .container {
  position: relative;
  z-index: 5;
}

.where-technology .table-border {
  margin-top: 100px;
  border-radius: 20px;
  border: 1px solid #FFFFFF
}

.where-technology th {
  width: 50%;
  padding: 30px;
  text-align: center;
  font-family: var(--montserrat);
  font-size: 40px;
  font-weight: 500;
  border-bottom: 1px solid var(--white);
}

.where-technology th:first-child {
  border-right: 1px solid var(--white);
}

.where-technology tr td:first-child {
  border-right: 1px solid var(--white);
}

.where-technology td {
  padding: 40px;
}

tbody {
  vertical-align: top;
}

.where-technology table p {
  color: #ffffffa6;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  margin-bottom: 30px;
}

.where-technology table p:last-child {
  margin-bottom: 0;
}

.where-technology .bold {
  font-weight: 500;
  color: var(--white);
}

/*======Where-Technology======*/


/*======What-We-Do======*/
.what-we-do {
  color: var(--black);
  background-color: #ffffff00;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.what-we-do .get-in-touch-glow {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
  opacity: 1;
  object-fit: contain;
  transition: transform 0.1s ease-out;
}


.what-we-do .sub-heading {
  margin-bottom: 10px;
}

.what-we-do .left-align p {
  color: var(--black);
  margin-bottom: 20px;
}

.what-we-do .left-align a {
  color: #F35D1E;
  font-size: 18px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.what-we-do .left-align a img {
  transition: all 0.5s linear;
}

.what-we-do .left-align a:hover img {
  transform: rotate(45deg);
}

.what-we-do .right-align {
  text-align: left;
}

.what-we-do .left-align {
  text-align: left;
}

.what-we-do .right-align img {
  margin-bottom: 20px;
}

.what-we-do h5 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.what-we-do p {
  color: #000000B2;
  font-size: 16px;
  font-weight: 400;
}

/*======What-We-Do======*/

/*======About-Us======*/

.why-choose-kloudz {
  background-color: #101012;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.why-choose-kloudz .why-choose-glow{
  max-width: 740px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
  opacity: 0.3;
  transition: transform 0.1s ease-out;
}

.why-choose-kloudz::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/noise-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.why-choose-kloudz .container {
  position: relative;
  z-index: 2;
}

.why-choose-kloudz .title {
  max-width: 830px;
  margin: auto;
}

.why-choose-kloudz .h-400 {
  min-height: 400px;
}

.why-choose-kloudz .h-450 {
  min-height: 450px;
}

.why-choose-kloudz .gd-bx {
  padding: 30px;
  position: relative;
  border-radius: 20px;
  border: 0.5px solid #9e9e9e;
  overflow: hidden;
  transition: transform 0.3s ease-in;
}
.why-choose-kloudz .gd-bx:hover{
  transform: translateY(-5px);
}

.why-choose-kloudz .gd-bx img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.why-choose-kloudz .row-1 {
  background: linear-gradient(281.78deg, rgba(0, 0, 0, 0.16) 29.98%, rgba(83, 84, 108, 0.16) 96.96%);

}

.why-choose-kloudz .row-2,
.why-choose-kloudz .row-3,
.why-choose-kloudz .row-4,
.why-choose-kloudz .row-5 {
  background: linear-gradient(346.69deg, rgba(0, 0, 0, 0.16) 51.55%, rgba(83, 84, 108, 0.16) 86.08%);

}

.why-choose-kloudz .row-5 img,
.why-choose-kloudz .row-2 img {
  width: 90%;
}

.why-choose-kloudz .row-1 img {
  width: 75%;
}
.why-choose-kloudz .row-3 img{
  width: 75%;
}

.why-choose-kloudz .row-4 img{
  width: 90%;
}



.why-choose-kloudz .gd-bx span {
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin-bottom: 20px;
}

.why-choose-kloudz .gd-bx p {
  color: rgba(255, 255, 255, 0.7);
  max-width: 404px;
  width: 100%;
}

.inner-glow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  opacity: 0.1;
  transition: transform 0.1s ease-out;
  object-fit: contain;
}

/*======About-Us======*/

/*======Contact-Us-Get-In-Touch======*/
.contact-get-touch {
  background-color: #ffffff00;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.contact-get-touch .get-in-touch-glow {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
  opacity: 1;
  object-fit: contain;
  transition: transform 0.1s ease-out;
}




.contact-get-touch small {
  color: rgba(243, 93, 30, 1);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.contact-get-touch h2 {
  color: var(--black);
  font-family: var(--montserrat);
  font-size: 50px;
  font-weight: 500;
  line-height: 55px;
  text-align: left;
}

.contact-get-touch .bx-gradient {
  border: 1px solid rgba(10, 10, 10, 0.2);
  background-color: var(--white);
  border-radius: 20px;
  padding: 30px 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: flex-start;
  text-align: left;
  transition: all 0.5s linear;
}
.contact-get-touch .bx-gradient:hover{
  transform: translateY(-5px);
}

.contact-get-touch .icon {
  width: 28px;
  margin-bottom: 20px;
}

.contact-get-touch strong {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #121317;
}

.contact-get-touch p {
  color: #000000B2;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}

.contact-get-touch a {
  background: linear-gradient(91.98deg, #8161ff 30.4%, #c366ff 53.65%, #fff759 71.18%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rotateGradient 10s ease-in-out infinite;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 500;
}

.contact-get-touch a img {
  transition: all 0.5s linear;
}

.contact-get-touch a:hover img {
  transform: rotate(45deg);
}

/*======Contact-Us-Get-In-Touch======*/

/*======Ask-Away======*/
.ask-away {
  background-color: #101012;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.ask-away-glow{
  max-width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -3;
  opacity: 0.4;
  object-fit: contain;
  transition: transform 0.1sease-out;
  height: auto;
}
.ask-away::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../images/why-choose-us-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -2;
}

.ask-away .footer-glow {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -3;
  opacity: 1;
  object-fit: contain;
  transition: transform 0.1sease-out;
}

.ask-away .contact-frm {
  padding: 30px;
  border-radius: 20px;
  backdrop-filter: blur(14.7601900100708px);
  background: linear-gradient(283.78deg, rgba(0, 0, 0, 0.16) -37.31%, rgba(83, 84, 108, 0.16) 96.86%);
}

.ask-away form {
  background: linear-gradient(285.71deg, rgba(0, 0, 0, 0.16) -45.14%, rgba(83, 84, 108, 0.16) 35.18%);
  padding: 50px;
  border-radius: 18px;
}

.ask-away .form-control {
  border: 1px solid #797980;
  background: linear-gradient(285.71deg, rgba(0, 0, 0, 0.16) -45.14%, rgba(83, 84, 108, 0.16) 35.18%);
  padding: 25px;
  outline: 0;
  box-shadow: none;
  margin-bottom: 16px;
  color: #d4d4d6;
  border-radius: 18px;
  font-size: 20px;
  font-weight: 300;
}



.ask-away .form-control::placeholder {
  color: #d4d4d6;
}

.ask-away textarea {
  resize: none;
  height: 170px;
}

.animated-btn button {
  padding: 20px 40px;
  color: var(--white);
  background-color: #000;
  border-radius: 70px;
  outline: 0;
  border: none;
}

.ask-away h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
}

.ask-away h3 {
  font-size: 70px;
  font-weight: 400;
  background: linear-gradient(91.98deg, #8161ff 30.4%, #c366ff 53.65%, #fff759 71.18%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rotateGradient 10s ease-in-out infinite;
}

.ask-away p {
  margin-top: 30px;
  font-weight: 400;
}

.ask-away p>a {
  display: inline;
  font-weight: 500;
  color: var(--white);
}

/*======Ask-Away======*/

/*======Innovation======*/
.innovation {
  background: #0C0C0D;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.innovation .box-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px 0;
  transition: transform 0.2s ease-out;
  will-change: transform;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease-out; /* Smooth return */
}

.innovation .mdl-bx {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0 105px;
  justify-content: center;
}

.innovation .text-bx {
  min-width: 765px;
}

.innovation .sub-heading:after {
  content: "";
  background-color: rgba(53, 105, 207, 1);
  width: 11px;
  height: 11px;
  display: inline-block;
  border-radius: 100%;
  margin-left: 5px;
}

.innovation .img-bx {
  position: relative;
}

.innovation .img-bx img {
  transition: all 0.5s linear;
}

.innovation .img-bx:hover img {
  filter: grayscale(100%);
  opacity: 0.3;
}

.innovation .img-text {
  position: absolute;
  top: 50%;
  left: 30%;
  max-width: 240px;
  width: 100%;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-out;
}

.innovation .img-bx:hover .img-text {
  opacity: 1;
  visibility: visible;
}

.innovation .img-bx:hover img {
  filter: grayscale(100%);
  opacity: 0.3;
}

.innovation .img-text p {
  color: #a1a1a6;
}

.innovation .img-text span {
  color: var(--white);
  text-transform: capitalize;
}

.innovation .flex-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.innovation .box-1,
.innovation .box-3 {
  gap: 0 40%;
}

.innovation .box-2,
.innovation .box-4 {
  gap: 0 20%;
}

/*======Innovation======*/

/*======Smart-Solutions======*/
.smart-solutions {
  color: #141414;
  background-color: #ffffff00;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.smart-solutions h2 {
  font-family: var(--montserrat);
  font-size: 70px;
  font-weight: 600;
  line-height: 85px;
  text-align: center;

}

.smart-solutions .content-wrap {
  max-width: 721px;
  margin: auto;
  width: 100%;
  width: 100%;
  position: relative;
}

.smart-solutions p {
  color: #141414;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  font-family: var(--montserrat);
  text-align: center;
}


.smart-solutions .shape-bx {
  max-width: 360px;
  margin: 10px auto 30px;
  width: 100%;
  position: relative;
}

.smart-solutions .center-btn {
  text-align: center;
  margin-top: 40px;
}


.smart-solutions .smart-solutions-glow {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
  opacity: 1;
  object-fit: contain;
  transition: transform 0.1sease-out;
}

/*======Smart-Solutions======*/

.get-in-touch .get-in-touch-glow-new {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
  opacity: 1;
  object-fit: contain;
  transition: transform 0.1sease-out;
}



.smart-solutions .animate-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.smart-solutions .shape {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.125rem solid #ededed;
  border-radius: 50%;
  opacity: 0;
}


.smart-solutions .shape-1 {
  animation: ripple 5s linear 0s infinite;
}

.smart-solutions .shape-2 {
  animation: ripple 5s linear 1s infinite;
}

.smart-solutions .shape-3 {
  animation: ripple 5s linear 2s infinite;
}

.smart-solutions .shape-4 {
  animation: ripple 5s linear 3s infinite;
}

@keyframes ripple {
  0% {
    width: 5rem;
    height: 5rem;
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 50rem;
    height: 50rem;
    opacity: 0;
  }
}
